<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>441</string>
					<key>StartingColumnNumber</key>
					<string>25</string>
					<key>StartingLineNumber</key>
					<string>440</string>
					<key>Timestamp</key>
					<string>783553360.8359441</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeatherForecast/Utilities/FindDataFromMenu.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>        return (array, arrayDayIcons, arrayHourIcons, rainFalls, windInfoArray, tempInfoArray, gustInfoArray, weatherIconArray, snowArray, feltTempArray, dewPointArray, newPrecipitation)
        
    case .precipitation :</string>
				<key>trailing</key>
				<string>        var i: Int = 0
        var dataInfo = DataInfo()
        hourForecast!.forEach  {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>177</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>176</string>
					<key>Timestamp</key>
					<string>783596165.284122</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeatherForecast/Views/DayDetail/DayDetailChart.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                if option == .precipitation {
</string>
				<key>leading</key>
				<string>                ///
            VStack {
</string>
				<key>trailing</key>
				<string>                    // Pre-filter threshold so only those with value &lt; rangeTo are drawn
                    let visibleThresholds = thresholds.filter { $0.value &lt; Double(rangeTo + 1) }
                    Chart {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
